$brand-orange: #ff7201;
$brand-blue: #274287;
$brand-grey: #393939;
$brand-black: #000000;
$brand-white: #ffffff;

$border: 0px;

body {
    height: 3000px;
}

h1 {
    font-size: 44px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
}

h3 {
    font-size: 36px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
}

h4 {
    font-size: 32px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
}

h5 {
    font-size: 28px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
}

h6 {
    font-size: 24px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
}

p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.social-media-menu {
    background-color: $brand-blue;
    width: 100%;
    height: 40px;
    ul {
        float: right;
        margin: 6px 0 6px 0;
        li {
            display: inline-block;
            line-height: 35px;
            margin-left: 5px;
            margin-right: 5px;
            width: 28px;
            height: 28px;
            a i {
                color: white;
                font-size: 25px;
            }
        }
    }
}

.navbar {
    background: transparent;
    height: 70px;
    width: 100%;
    z-index: 10;
    transition: background-color .5s;
}

.fixed-top {
    background-color: $brand-grey;
    transition: all .5s;
}

.nav-item {
    margin-left: 25px;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1.2rem;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    color: $brand-white;
    position: relative;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: $brand-white;
}

.navbar-dark .navbar-nav .nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: $brand-orange;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-dark .navbar-nav .nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
.logo {
    max-width: 250px;
}

header {
    width: 100%;
    height: 80vh;
    background-color: $brand-blue;
    position: absolute;
    top: 40px;
    overflow: hidden;
    border-bottom: $border solid $brand-orange;
}

.heroVideo {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.overlay {
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-color: $brand-grey;
    opacity: .5;
}

.tagline {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9;
    h1 {
        position: relative;
        color: $brand-white;
        text-align: center;
        top: 48%;
        transform: translateY(-50%);
        font-size: 4rem;
        font-weight: 700;
    }
}

.page-content {
    top: 85vh;
    position: absolute;
    width: 100%;
}

.content-p {
    padding: 40px 0 40px 0;
}

.features {
    height: 500px;
    background-image: url('../img/team_photo.jpg');
    background-size: cover;
    background-position: center 58%;
    width: 100%;
    border-top: solid $border $brand-blue;
    border-bottom: solid $border $brand-orange;
}

.google-map {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-top: solid $border $brand-blue;
    border-bottom: solid $border $brand-orange;
}

.media-photo {
    width: 100%;
    height: 500px;
    background-image: url('../img/media.jpg');
    background-size: cover;
    background-position: center 40%;
    overflow: hidden;
    border-top: solid $border $brand-blue;
    border-bottom: solid $border $brand-orange;
}

.elite-sponsors {
    width: 100%;
    height: auto;
    background-color: $brand-blue;
    .content-p {
        opacity: .5;;
    }
}

footer {
    width: 100%;
    height: auto;
    background-color: $brand-grey;
    color: $brand-white;
    text-align: center;
    .content-p {
        // padding-bottom: 20px;
    }
    p {
        margin-bottom: 0px;
        font-size: 16px;
    }
    .copyright {
        font-size: 14px;
        // margin-top: 20px;
    }
    hr {
        width: 100%;
        border: solid .2px $brand-white;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}